@model ViewModels.Views.Home.ContactViewModel

@{
	var pageTitle =
		"Contact (ASP.NET Core MVC)";

	ViewData["PageTitle"] = pageTitle;
}

<form method="post">

	<div class="container my-0 my-sm-1 my-md-3 my-lg-5">
		<div class="row">
			<div class="col-12 p-3 col-md-8 offset-md-2 p-md-4 col-lg-6 offset-lg-3 p-lg-5 border border-2 rounded-3 shadow-lg">
				<legend>
					@(pageTitle)
				</legend>

				<hr />

				<partial name="PartialViews/_DisplayPageMessages" />

				<div class="mb-3">
					<label asp-for="FullName" class="form-label"></label>

					<div class="input-group">
						<div class="input-group-text"><i class="bi bi-person-fill"></i></div>
						<input asp-for="FullName" class="form-control" />
					</div>

					<span asp-validation-for="FullName" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Subject" class="form-label"></label>

					<div class="input-group">
						<div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
						<input asp-for="Subject" class="form-control" />
					</div>

					<span asp-validation-for="Subject" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label asp-for="Body" class="form-label"></label>
					<input asp-for="Body" class="form-control" />
					<span asp-validation-for="Body" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn btn-primary">Send</button>
					<button type="reset" class="btn btn-secondary">Reset</button>
				</div>
			</div>
		</div>
	</div>

</form>
